/*
=============================================================================
	Drupal Overrides
=============================================================================
*/
#edit-field-colour-value-wrapper .description {position: relative;top: -20px;right: -102px;}
#edit-field-image-position-value-wrapper .description {position: relative;top: -20px;right: -62px;}
#admin-menu li li a:hover, #admin-menu ul a:hover {color: #FFF !important;}
div.links ul.links li a {border-bottom:1px solid #EEEEEE;display:inline;padding:0.2em 0;text-decoration:none;}
.odd {background-color:transparent;}
.clear {clear:both;display:block;height:0;overflow:hidden;}
.relative{position:relative;}
.absolute{position:absolute;}
.fullwidth{width: 100%;}
/*delete ul {list-style:none outside none;}*/
/*
=============================================================================
	Block edit links
=============================================================================
*/
.administer-block-hide
{
	display:none;
}
.administer-block-hide:hover
{
	display:block;
}

/* administrative hover links */

div.administer-block-links {
  font-size: xx-small;
  margin-right: 1em;
  margin-top: 1em;
/*  width: 95%; */
}

div.administer-block-links {
  margin-top: 0;
}

div.administer-block-links ul {
  padding-left: 0;
}

div.administer-block-links li a {
  color: #ccc;
}

div.administer-block-links li {
  padding-bottom: 2px;
  z-index: 201;
}

div.administer-block-links-hover a,
div.administer-block-links:hover a {
  color: #000;
}

div.administer-block-links-hover,
div.administer-block-links:hover {
  background: transparent;;
}

div.administer-block-links a:before {
  content: "[";
}

div.administer-block-links a:after {
  content: "]";
}

.administer-block-hide {
  display: none;
}

/** For IE we add the class via js; for other browsers we rely on :hover **/
.administer-block-hide-hover,
div.block:hover div.administer-block-hide {
  display: block;
  position: absolute;
  z-index: 200;
}

/* don't do this one in IE */
div.block:hover div.administer-block-hide {
  margin-top: -1.5em;
}

/* Remove the border on tbody that system puts in
.views-view-grid tbody {
  border-top: none;
} */
/*
====================================================================
Node edit form fix
====================================================================
*/
table.content-multiple-table {width: 900px;}
tr.draggable {color: #000000;}
td.content-multiple-drag {width: 12px;}
/*
=============================================================================
	OUICE - WOIL HEADER CREATIVE - QUOTES/STRAPLINE/IMAGE 
=============================================================================
*/
#site-header .creative{position:relative;}
#site-header .creative .masthead{position: absolute; width: 100%; top: 0; left: 0;}
#site-header .creative .masthead > div{position: absolute;}
#site-header .creative .header-action{-moz-border-radius:5px 0 0 5px !important;-moz-box-shadow: none !important;background-color:#296E8F;color:#FFFFFF;float:right;right:0;top:40px;width:220px;}
#site-header .creative .header-action:hover{background-color:#143748;}
#site-header .creative .header-action a.action .title{color:#FFFFFF;}
#site-header .creative .masthead-quote{font-size: 2em; margin-left: 0.5em;}
#site-header .creative .masthead-quote blockquote{width: 350px;font-family: Arial, Helvetica, sans-serif;letter-spacing: 0.02em;font-style: normal;line-height: 1em;color: #283542;margin-left: 2.7em;}
#site-header .creative .masthead-quote blockquote p{display: inline;}
#site-header .creative .quoteMarkStart {color:#0098c3;display:inline;font-family:arial;font-size:8em;position:relative;text-align:left;vertical-align:top;top:0.55em;width:auto;height:auto;}
#site-header .creative .quoteMarkEnd {color:#0098C3;font-family:arial;font-size:3em;position:relative;text-align:left;top:0.30em;vertical-align:top;}
#site-header .creative .masthead-strapline{width: 350px;font-size: 1em;margin-left: 1.7em}
/*
=============================================================================
	OUICE - COLOURS
    NOTE: Consultation underway to determine which elements within a action/feature-block are able to be styled re colour.
=============================================================================
*/
.feature-block.none{border:none; padding: 0.1em 1em; -moz-box-shadow: none; !important}
.ou-yellow, div.box a.ou-yellow {background-color: #f7d64d;}
.ou-yellow img.border {border:1px solid #000;}
.ou-yellow h2, .ou-yellow h3, .ou-yellow h4, .ou-yellow h5, .ou-yellow h6, .ou-yellow a, .ou-yellow a span.title {color:#000 !important;}
.ou-yellow p{color:#000 !important;}
.ou-yellow{border-color:#f4c400 #493e00 #493e00 #f4c400 !important;}
.ou-yellow-border{border-color:#f4c400 !important;}
div.ou-yellow a.action:hover{background-image:url("../images/arrow-on-yellow.gif");}
div.ou-yellow a.action {background-image:url("../images/arrow-off-yellow.gif");}
.ou-dark-green, div.box a.ou-dark-green {background-color: #a5afa5;}
.ou-dark-green img.border {}
.ou-dark-green h2, .ou-dark-green h3, .ou-dark-green h4, .ou-dark-green h5, .ou-dark-green h6, .ou-dark-green a, .ou-dark-green a span.title {color:#000 !important;}
.ou-dark-green p {color:#000 !important;}
.ou-dark-green{border-color:#4b5f4b #273228 #273228 #4b5f4b !important;}
.ou-dark-green-border{border-color:#4b5f4b !important;}
div.ou-dark-green a.action:hover{background-image:url("../images/arrow-on-dark-green.gif");}
div.ou-dark-green a.action {background-image:url("../images/arrow-off-dark-green.gif");}
.ou-light-green, div.box a.ou-light-green {background-color: #c8c866;}
.ou-light-green img.border {}
.ou-light-green h2, .ou-light-green h3, .ou-light-green h4, .ou-light-green h5, .ou-light-green h6, .ou-light-green a, .ou-light-green a span.title {color:#000 !important;}
.ou-light-green p {color:#000 !important;}
.ou-light-green{border-color:#a4a400 #313100 #313100 #a4a400 !important;}
.ou-light-green-border{border-color:#a4a400 !important;}
div.ou-light-green a.action:hover{background-image:url("../images/arrow-on-light-green.gif");}
div.ou-light-green a.action {background-image:url("../images/arrow-off-light-green.gif");}
.ou-red, div.box a.ou-red {background-color: #e699ad;}
.ou-red img.border {}
.ou-red h2, .ou-red h3, .ou-red h4, .ou-red h5, .ou-red h6, .ou-red a, .ou-red a span.title {color:#000 !important;}
.ou-red p {color:#000 !important;}
.ou-red{border-color:#c10031 #65001a #65001a #c10031 !important;}
.ou-red-border{border-color:#c10031 !important;}
div.ou-red a.action:hover{background-image:url("../images/arrow-on-red.gif");}
div.ou-red a.action {background-image:url("../images/arrow-off-red.gif");}
.ou-dark-red, div.box a.ou-dark-red {background-color: #d0b3c1;}
.ou-dark-red img.border {}
.ou-dark-red h2, .ou-dark-red h3, .ou-dark-red h4, .ou-dark-red h5, .ou-dark-red h6, .ou-dark-red a, .ou-dark-red a span.title {color:#000 !important;}
.ou-dark-red p {color:#000 !important;}
.ou-dark-red{border-color:#630031 #450022 #450022 #630031 !important;}
.ou-dark-red-border{border-color:#630031 !important;}
div.ou-dark-red a.action:hover{background-image:url("../images/arrow-on-dark-red.gif");}
div.ou-dark-red a.action {background-image:url("../images/arrow-off-dark-red.gif");}
.ou-light-blue, div.box a.ou-light-blue {background-color: #a6d2ff;}
.ou-light-blue img.border {}
.ou-light-blue h2, .ou-light-blue h3, .ou-light-blue h4, .ou-light-blue h5, .ou-light-blue h6, .ou-light-blue a, .ou-light-blue a span.title {color:#000 !important;}
.ou-light-blue p {color:#000 !important;}
.ou-light-blue{border-color:#50bbde #183843 #183843 #50bbde !important;}
.ou-light-blue-border{border-color:#50bbde !important;}
div.ou-light-blue a.action:hover{background-image:url("../images/arrow-on-light-blue.gif");}
div.ou-light-blue a.action {background-image:url("../images/arrow-off-light-blue.gif");}
.ou-dark-blue, div.box a.ou-dark-blue {background-color: #99adc2;}
.ou-dark-blue img.border {}
.ou-dark-blue h2, .ou-dark-blue h3, .ou-dark-blue h4, .ou-dark-blue h5, .ou-dark-blue h6, .ou-dark-blue a, .ou-dark-blue a span.title {color:#000 !important;}
.ou-dark-blue p {color:#000 !important;}
.ou-dark-blue{border-color:#003366 #001f3f #001f3f #003366 !important;}
.ou-dark-blue-border{border-color:#003366 !important;}
div.ou-dark-blue a.action:hover{background-image:url("../images/arrow-on-dark-blue.gif");}
div.ou-dark-blue a.action {background-image:url("../images/arrow-off-dark-blue.gif");}
.ou-orange, div.box a.ou-orange {background-color: #f2ad7f;}
.ou-orange img.border {}
.ou-orange h2, .ou-orange h3, .ou-orange h4, .ou-orange h5, .ou-orange h6, .ou-orange a, .ou-orange a span.title {color:#000 !important;}
.ou-orange p {color:#000 !important;}
.ou-orange{border-color:#e65b00 #5c2400 #5c2400 #e65b00 !important;}
.ou-orange-border{border-color:#e65b00 !important;}
div.ou-orange a.action:hover{background-image:url("../images/arrow-on-orange.gif");}
div.ou-orange a.action {background-image:url("../images/arrow-off-orange.gif");}
.ou-turquoise, div.box a.ou-turquoise {background-color: #66d0cd;}
.ou-turquoise img.border {}
.ou-turquoise h2, .ou-turquoise h3, .ou-turquoise h4, .ou-turquoise h5, .ou-turquoise h6, .ou-turquoise a, .ou-turquoise a span.title {color:#000 !important;}
.ou-turquoise p {color:#000 !important;}
.ou-turquoise{border-color:#00b0ac #003d3d #003d3d #00b0ac !important;}
.ou-turquoise-border{border-color:#00b0ac !important;}
div.ou-turquoise a.action:hover{background-image:url("../images/arrow-on-turquoise.gif");}
div.ou-turquoise a.action {background-image:url("../images/arrow-off-turquoise.gif");}
.ou-beige, div.box a.ou-beige {background-color: #dadab7;}
.ou-beige img.border {}
.ou-beige h2, .ou-beige h3, .ou-beige h4, .ou-beige h5, .ou-beige h6, .ou-beige a, .ou-beige a span.title {color:#000 !important;}
.ou-beige p {color:#000 !important;}
.ou-beige{border-color:#d1d1a5 #3f3f32 #3f3f32 #d1d1a5 !important;}
.ou-beige-border{border-color:#d1d1a5 !important;}
div.ou-beige a.action:hover{background-image:url("../images/arrow-on-beige.gif");}
div.ou-beige a.action {background-image:url("../images/arrow-off-beige.gif");}
.ou-pink, div.box a.ou-pink {background-color: #f699c7;}
.ou-pink img.border {}
.ou-pink h2, .ou-pink h3, .ou-pink h4, .ou-pink h5, .ou-pink h6, .ou-pink a, .ou-pink a span.title {color:#000 !important;}
.ou-pink p {color:#000 !important;}
.ou-pink{border-color:#e80074 #5d002e #5d002e #e80074 !important;}
.ou-pink-border{border-color:#e80074 !important;}
div.ou-pink a.action:hover{background-image:url("../images/arrow-on-pink.gif");}
div.ou-pink a.action {background-image:url("../images/arrow-off-pink.gif");}
.ou-violet, div.box a.ou-violet {background-color: #b8a7ca;}
.ou-violet img.border {}
.ou-violet h2, .ou-violet h3, .ou-violet h4, .ou-violet h5, .ou-violet h6, .ou-violet a, .ou-violet a span.title {color:#000 !important;}
.ou-violet p {color:#000 !important;}
.ou-violet{border-color:#4e247b #221037 #221037 #4e247b !important;}
.ou-violet-border{border-color:#4e247b !important;}
div.ou-violet a.action:hover{background-image:url("../images/arrow-on-violet.gif");}
div.ou-violet a.action {background-image:url("../images/arrow-off-violet.gif");}
/* TO BE DELETED
body.neutral div.context-nav h1,
body.neutral div.context-nav h2,
body.neutral div.context-nav p.parent,
body.neutral div.full-nav h2 {background-color:#DDDDDD;}
body.neutral div#page {border:1px solid #DDDDDD;}
body.neutral ul.sections li a {border:1px solid #D3D3D3;}
body.neutral.sections.s0 ul.sections li.s0 a,
body.neutral.sections.s1 ul.sections li.s1 a,
body.neutral.sections.s2 ul.sections li.s2 a,
body.neutral.sections.s3 ul.sections li.s3 a,
body.neutral.sections.s4 ul.sections li.s4 a,
body.neutral.sections.s5 ul.sections li.s5 a,
body.neutral.sections.s6 ul.sections li.s6 a,
body.neutral.sections.s7 ul.sections li.s7 a,
body.neutral.sections.s8 ul.sections li.s8 a,
body.neutral.sections.s9 ul.sections li.s9 a,
body.neutral.sections ul.sections li a.selected,
body.neutral.sections ul.sections li a.selected:hover {
border-color:#D3D3D3 #D3D3D3 #FFFFFF;
}
body.neutral div.context-nav li a,
body.neutral div.context-nav li strong,
body.neutral div.full-nav li a,
body.neutral div.full-nav li strong  {
border-color:#D3D3D3 #D3D3D3 -moz-use-text-color;
}*/
/*
=============================================================================
	OUICE - MISC
		
=============================================================================
*/
#region1 .c1of2 .feature-block h2,
#region1 .c2of2 .feature-block h2,
#region1 .c1of3 .feature-block h2,
#region1 .c2of3 .feature-block h2,
#region1 .c3of3 .feature-block h2,
#region1 .c1of4 .feature-block h2,
#region1 .c2of4 .feature-block h2,
#region1 .c3of4 .feature-block h2,
#region1 .c4of4 .feature-block h2
{clear:both;}
#region1 .c1of3 .feature-block img, #region1 .c1of3 img,
#region1 .c2of3 .feature-block img, #region1 .c2of3 img,
#region1 .c3of3 .feature-block img, #region1 .c3of3 img{max-width: 90%; width:90%;}
#region1 .c1of4 .feature-block img, #region1 .c1of4 > img,
#region1 .c2of4 .feature-block img, #region1 .c2of4 > img,
#region1 .c3of4 .feature-block img, #region1 .c3of4 > img,
#region1 .c4of4 .feature-block img, #region1 .c4of4 > img{max-width: 88%; width:90%;}
a.action {
padding:1em 2em 1em 0;
}
/*
=============================================================================
	OUICE - hsGallery
		
=============================================================================
*/
.hsGallery ul.video li a {width:152px;}
.hsGallery ul.video li a.title {background-color: #EEEEEE;border:0 none #DDDDDD;height: 40px;min-height: 40px;}
.hsGallery ul.podcast li a {width:80px;}
.hsGallery ul.podcast li a img {margin:0 1.6em;}
.hsVideo, .hsAudio, .hsMap, .hsFlickr, .hsSlideshow {margin-bottom: 1.5em; padding: 4px; border: 1px solid #eaeaea; background: #F3F3F3;}
.hsVideo embed, .hsAudio embed {max-width: 535px;}
.hsMap iframe {outline: 1px solid #ddd;}
.narrowCol .hsVideo embed, .narrowCol .hsAudio embed {max-width: 606px;}
.hsVideo h4, .hsAudio h4 {font-size: 1.2em;}
.hsVideo .boxShadow, .hsAudio .boxShadow, .hsFlickr .boxShadow {text-align: center;}
.hsSlideshow > div {margin: 0 auto;}
.hsVideo .hsTranscript, .hsAudio .hsTranscript {padding: 4px; background: #fff; margin-top: 10px;}
.hsVideo .hsTranscript blockquote, .hsAudio .hsTranscript blockquote {color: #333;}
.hsTranscriptSwitch {padding: 0 4px;}
.hsMap small {padding: 0 4px; font-size: 12px;}
.hsMap small a {color: #12537E !important;}
.hsGallery dl {margin: 0 0 17px; padding: 4px; background: #fff; border: 1px solid #ddd;}
.hsGallery dt {margin: 0; padding: 0;}
.hsGallery dt img {max-width: 512px; height: auto; margin: 0;}
.narrowCol .hsGallery dt img {max-width: 580px;}
.hsGallery dd {margin: 0; padding: 0.6em 5px 0; border-top: 1px solid #eee;}
.hsGallery dd p {margin-bottom: 0.3em;}
.hsGallery .hsThumbs {display: block; border-top: 1px solid #ccc; padding-top: 17px;}
.hsGallery .hsThumbs li {float: left; margin: 0 10px 10px 0; padding: 0; background: none;}
.hsGallery .hsThumbs li a {display: block; width: 108px; height: 108px; border: 1px solid #ddd; background: #fff; padding: 5px; overflow: hidden;}
.hsGallery .hsThumbs li a:hover {border-color: #ccc; background-color: #D2EDF9}
.hsGallery .hsThumbs li a img {margin: 0; padding: 0;}
.hsGallery .paged {clear: both; text-align: center;}
/*
=============================================================================
	OUICE - feature-block and action-block
		
=============================================================================
*/
.feature-block img{margin-top: 1em;}
/*
=============================================================================
	OUICE - news and events
		
=============================================================================
*/
.news .hsDate {background:url("../images/boxShade.png") repeat-x scroll center bottom #FFFFFF;border-color:#CCCCCC #9C9C9C #828282 #CCCCCC;border-style:solid;border-width:1px;display:block;float:left;margin-left:-4.5em;overflow:hidden;padding:0;text-align:center;width:3.5em;margin-top: 0;}
.news .hsDateDay {border-bottom:1px solid #EEEEEE;color:#888888;display:block;font-size:2em;padding:0.3em 0 0.4em;width:100%;}
.news .hsDateMonth {display:block;padding:0.1em 0 0.2em;width:100%;}
.news .hsDate {margin-left:-1em;margin-right:0.5em;}
ul.events img {
border:1px solid #EEEEEE;
float:right;
margin:0 0 1em 1em;
padding:0.5em;
}
/*
=============================================================================
	OUICE - feeds
		
=============================================================================
*/
.hsRssFeed li {list-stle: none; padding: 0; background: none; border-bottom: 1px solid #ddd; margin-bottom: 1em;}
.hsRssFeed li:last-child {border: 0; margin: 0;}
.hsRssIcon {position: relative; top: 2px; float: right; display: block; width: 16px; height: 16px; background: url(../images/rssIcon.gif) 50% 50% no-repeat; text-indent: -9999px; padding: 0 !important;}
.hsRssFeed dt {padding: 0 4px;}
.hsRssFeed dd {padding: 0; margin: 0;}
.hsRssFeed .hsRssDesc img {float: left; margin: 3px 0.8em 0.6em 0; max-width: 50%; height: auto;}
.hsRssFeed dd.hsRssDate {font-size: 0.9em; color: #999; padding: 0 4px;}
.hsRssTwitter li {padding: 0; border: none;}
.hsRssTwitter dt {padding: 1em; background: #e9eff2; font-weight: normal; font-style: italic; font-family: Georgia, "Times New Roman", Times, serif; letter-spacing: -0.01em;}
.hsRssTwitter dd {margin: 0 0 1em 0.5em; padding: 5px 0 0 35px; background: url(../images/rssTwitter.gif) top left no-repeat; font-size: 0.9em;}
ul.hsRssTwitter {padding:0 !important;}
/*
=============================================================================
	OUICE - blockquote, quote, pullquote1, pullquote2
		
=============================================================================
*/
.hsPullQuoteOut {float: left; width: 40%; margin: 0.3em 1.5em 0 0; font-size: 1.3em; line-height: 1.4em; font-style: italic; color: #888;}
.hsPullQuoteRightOut {float: right; margin: 0.3em 0 0 1.5em;}